.article {
  display: grid;
  grid-template-rows: auto;
  cursor: pointer;

  @media screen and (min-width: 810px) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  &:hover > &--content > .subtitle,
  &:active > &--content > .subtitle {
    text-decoration: underline;
  }

  &--img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    & > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 16px;

      @media screen and (min-width: 810px) {
        object-fit: cover;
        height: auto;
        max-width: 100%;
      }
    }
  }

  &--content {
    align-self: center;
    padding: 1rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-height: 80%;

    & > .customer-avatar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      & > img {
        height: 2rem;
        width: 2rem;
        border-radius:100% ;

        @media screen and (min-width:810px) and (max-width: 1024px) {
            height: 1.3rem;
            width: 1.3rem
        }
      }
    }

    & > .subtitle {
      color: var(--clr-black);
      @media screen and (min-width:810px) and (max-width: 1024px) {
        font-size: calc(1rem * 0.9);
    }
    }

    & > .heading-three {
      color: var(--clr-black);
    }
  }

  &--date-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & > p {
        @media screen and (min-width:810px) and (max-width: 1024px) {
            font-size: .7rem;
        }
    }
  }

  &.hidden {
    display: none;
  }

  &_large {
    display: none;
    padding-top: 2rem;
    top: 0;

    & > .article--content {
      & > h3 {
        color: var(--clr-black);
      }

      & > .body-light {
        color: var(--clr-grey-2);
      }
    }

    @media screen and (min-width: 810px) {
      display: block;
    }
  }
}
