.our-recomendation {
  display: flex;
  justify-content: flex-start;
  color: var(--clr-secondary);
  position: relative;


  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 1px;
    left: -26px;
    bottom: 10px;
    background-color: var(--clr-secondary);
  }
}

.featured-house {
  padding: var(--padding);

  @media screen and (min-width: 810px) {
    padding: var(--padding-large);
  }

  &_nav {
    display: flex;
    flex-direction: column;
    padding: 16px 0;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-category {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 16px;
      padding: 0;

      @media screen and (min-width: 500px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
      }

      & .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        cursor: pointer;

        color: var(--clr-primary-dark);
        padding: 0.8rem 1.5rem;
        gap: 8px;
        border: 1px solid var(--clr-primary-dark);
        border-radius: 100px;

        &:hover {
          background-color: var(--clr-primary-light);
        }

        &--icon {
          height: 1.5rem;
          width: 1.5rem;
          fill: var(--clr-primary-dark);
        }
      }

      & .categories.clicked {
        background-color: var(--clr-primary-light);
      }

      & .categories:nth-child(3) {

        & > svg { 
          min-height: 1.1rem;
          min-width: 1.1rem;
          fill: var(--clr-primary-dark);
        }
      }
    }

    &-arrows {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
      gap: 16px;

      @media screen and (max-width:810px) {
        display: none;
      }

      @media screen and (min-width: 500px) {
        justify-content: center;
      }

      @media screen and (min-width: 1024px) {
        margin-top: 0;
      }

      & > .arrow-left,
      & > .arrow-right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

        height: 42px;
        width: 42px;
        background-color: var(--clr-white);
        border: 1px solid var(--clr-primary);
        border-radius: 100px;
        cursor: pointer;

        &:hover,
        &:active {
          background-color: var(--clr-primary);

          & .featured-house_nav-arrows--icon {
            fill: white;
          }
        }
      }

      &--icon {
        height: 24px;
        width: 24px;
        fill: var(--clr-primary);
      }
    }
  }
  &_cards {
    min-height: 400px;

    &--wrapper {
      display: flex;
      max-width: 100%;
      justify-content: space-between;
      padding: 0 32px;
      gap: 16px;
    }

    &--container {
      display: flex;
      justify-content: center;
      min-width: 50%;
      transition: transform 0.5s ease-in;

      @media screen and (max-width: 450px) {
        min-width: 100%;
      }

      @media screen and (min-width: 810px) {
        min-width: 33.3%;
      }
    }
    &--window {
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      scrollbar-width: none;

      @media screen and (max-width:810px) {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
      }
    }
  }
}
