.find-more {
  padding: var(--padding);
  position: relative;

  @media screen and (min-width:810px) {
    padding: var(--padding-large);
  }

  &_header {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 16px;

    // First label-small
    & :nth-child(1) {
      color: var(--clr-secondary);
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 28px;
        height: 1px;
        left: 43%;
        bottom: 25px;
        background-color: var(--clr-secondary);
      }
    }

    & > h2 {
        color: var(--clr-black)
    }
  }

  &_articles-container {
    display: grid;
    margin-top: 32px;
    gap: 32px;
    position: relative;

    @media screen and (min-width: 810px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 550px) and (max-width:810px) {
        padding: 32px 80px;
      }

    &_small {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
  }
}
