.footer {
    display: grid;
    gap: 32px;
    padding: var(--padding);

    @media screen and (min-width: 1024px) {
        grid-template-columns: 2fr 1fr 1fr 2fr;
        padding: var(--padding-large);
    }

  &_general {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

    @media screen and (min-width:1024px) {
        align-items: flex-start;
        text-align: left;
    }

    // & > .label-regular {
    //     max-width: 70%;
    // }

    &--logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;

      & > .logo-layer {
        width: 24px;
        height: 24px;
        border-radius: 4px 4px 24px 4px;

        &.one {
          background-color: var(--clr-secondary);
        }

        &.two {
          background-color: var(--clr-logo-layer-two);
          margin-left: -20px;
          margin-top: 8px;
        }
      }

      & > .label-bold {
        margin-left: 8px;
        color: var(--clr-black);
      }
    }

    &--icons {
        display: flex;
        gap: 16px;

        & > svg {
            height: 1.4rem;
            width: 1.4rem;
            fill: var(--clr-black);
            color: var(--clr-black);
        }
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width:1024px) {
        align-items: flex-start;
        text-align: left;
    }

    & > .subtitle {
        color: var(--clr-black);
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

    @media screen and (min-width:1024px) {
        align-items: flex-start;
        text-align: left;
    }
}
}
