.header {
  padding: var(--padding);

  @media screen and (min-width: 810px) {
    padding: var(--padding-large);
  }

  @media screen and (min-width: 1100px) {
    position: absolute;
    width: 100%;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;

      &-layer {
        width: 32px;
        height: 32px;
        border-radius: 4px 4px 24px 4px;

        &.one {
          background-color: var(--clr-secondary);
        }

        &.two {
          background-color: var(--clr-logo-layer-two);
          margin-left: -27px;
          margin-top: 8px;
        }
      }
      &-title {
        margin-left: 8px;
        color: var(--clr-black);
      }
    }

    &--burger-icon {
      height: 32px;
      width: 32px;
      fill: var(--clr-black);

      @media screen and (min-width: 1100px) {
        display: none;
      }
    }

    &--buttons-container {
      display: none;
      list-style: none;

      @media screen and (min-width: 1100px) {
        display: flex;
        justify-content: space-between;
        width: 45%;
        z-index: 10;

        & .nav-button {
          border: 1px solid white;
          color: white;
          font-family: "lexend";
          font-weight: 600;
          font-size: 14px;
          line-height: 17.5px;
          text-align: center;
          border-radius: 100px;
          padding: 8px 16px;
          cursor: pointer;

          &:hover {
            background-color: var(--clr-primary-light);
            color: var(--clr-primary-dark);
            border: 1px solid var(--clr-primary-dark);
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;

  &:focus > &-menu {
    display: flex;
  }
  &-menu {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    width: 98px;
  }
}
